* {
    box-sizing: border-box;
    transition: width 0.1s ease 0s;
}


*:before, *:after {
    box-sizing: border-box;
}

body {
    line-height: 1.42857;
    font-family: "Proxima N W01 Reg","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4f4f4f;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
    float: left;
}

.col-md-8 {
    width: 66.6667%;
}

.pull-right {
    float: right !important;
}

.text-right {
    text-align: right;
}

#header-wrap {
    background: none repeat scroll 0 0 #eef1f6;
    height: 100px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

#header-wrap #page-header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}

#header-wrap #page-header:before, #header-wrap #page-header:after {
    content: " ";
    display: table;
}

#header-wrap #page-header:after {
    clear: both;
}


#header-wrap #page-header:before, #header-wrap #page-header:after {
    content: " ";
    display: table;
}

a {
    color: #009ddc;
    text-decoration: none;
    transition: color 0s ease 0s, all 0.5s ease 0s;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
}

#header-wrap a, #header-wrap a:active, #header-wrap a:focus {
    outline: 0 none;
}

#header-wrap .navbar-brand {
    background: url("http://placehold.it/240x60") no-repeat scroll 0 0 / 240px 60px transparent;
    height: 60px;
    margin: 20px 0;
    width: 240px;
}

#header-wrap .region-header {
    float: right;
}

.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


